@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>We suggest the following:</h3>

@if (Request.IsAuthenticated && User.IsInRole("Administrators"))
{
    //TODO EDIT LIST OF APARMENTS AND ADDING APARTMENTS 
    
}

@if (Request.IsAuthenticated && !User.IsInRole("Administrators"))
{
    //TODO LIST OF APARTMENTS 
    <h3>Hello</h3>
}

@if (!Request.IsAuthenticated)
{
    //TODO HOME PAGE
}



